:root {
    --white: #fff;
    --pale-blue: hsl(225, 100%, 94%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
	padding: 0;
}



html {
    font-size: 62.5%;
}

img {
    max-width: 100%;
    display: block;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    min-height: 100vh;
    line-height: 1.5;
    background: no-repeat url(../images/pattern-background-mobile.svg);
    background-size: cover;
    
    font-family: 'Red Hat Display', sans-serif;
}

.main {
    padding: 3rem;
}
.order {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 50rem;
    background-color: var(--white);
    padding: 2.5vw;
    border-radius: 2rem;
    background-image: url('../images/illustration-hero.svg');
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 55%;
    text-align: center;
}

.order__title {
    font-size: 2.5rem;
    font-weight: 900;
}

.order__desc {
    color: var(--desaturated-blue);
}

.order__plan { 
    padding: 2rem 1.5rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    background-color: var(--very-pale-blue);
    border-radius: 1rem;

}

.order__plan-type {
    font-weight: 900;
}

.order__plan-btn {
    margin-left: auto;
    color: var(--bright-blue);
    transition: all .2s;
}

.order__plan-btn:hover {
    color: hsla(245, 75%, 52%, 0.6);
}

.btn--payment {
    background-color: var(--bright-blue);
    border: none;
    color: var(--white);
    font-weight: bold;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
    transition: all .2s;
    cursor: pointer;
}

.btn--payment:hover {
    background-color: hsla(245, 75%, 52%, 0.6);
}

.btn--cancel {
    font-weight: bold;
    color: var(--desaturated-blue);    
    cursor: pointer;
    transition: all .2s;
}

.btn--cancel:hover {
    color: var(--dark-blue)
}

